DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_CALLBACK_URL="http://localhost:3000/login/discord/callback"


COOKIE_AUTH_SECRET=""


# postgres DB
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""



CLASH_OF_CLANS_API_KEY=""